

<h1>My Google Map</h1>

<div class="my-google-map">

  <google-map width="100%"
              height="750px"
              [center]="center"
              [zoom]="zoom"
              [options]="mapOptions"
              (mapClick)="addMarker($event)">

    <map-marker *ngFor="let markerPosition of markerPositions"
                [position]="markerPosition"
                [options]="markerOptions">
    </map-marker>

  </google-map>


  <h2>Captures</h2>
  <table *ngIf="captures$ | async as captureList">
    <thead>
      <tr>
        <td>Lat</td>
        <td>Lng</td>
      </tr>
    </thead>
    <tbody *ngFor="let cap of captureList">
      <tr>
        <td>{{cap.lat}}</td>
        <td>{{cap.lng}}</td>
      </tr>
    </tbody>
  </table>

  <h3 *ngIf="! captures$" >Nada encontrado</h3>

</div>
